.home {
  .info-section {
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 54px;
    .logo {
      text-transform: uppercase;
      border: 5px solid $colour3;
      height: 130px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: $colour3;
      line-height: 0;
    }
    .info-box {
      position: absolute;
      bottom: 60px;
      color: $colour3;
      h4 {
        font-size: 1.2rem;
        margin: 0.7rem 0;
      }
      p {
        font-size: 0.9rem;
        font-weight: 300;
        margin: 0.2rem 0 1.6rem;
      }
    }
    .icon-section {
      a {
        color: $colour3;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 0 10px;
        &:hover {
          color: $hoverColour;
        }
        &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }
  }
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: $colour3;
    height: 100%;
    .img-container {
      display: inline-block;
      width: 45%;
      position: relative;
      height: 100%;
      .user-img {
        position: absolute;
        top: 56px;
        left: -150px;
        width: 100%;
        height: calc(100% - 112px);
        background: url("../images/profile.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 7px 18px 74px 5px rgba(51, 32, 51, 0.34);
        -moz-box-shadow: 7px 18px 74px 5px rgba(51, 32, 51, 0.34);
        box-shadow: 7px 18px 74px 5px rgba(51, 32, 51, 0.34);
      }
    }
    .profile-section {
      position: absolute;
      vertical-align: top;
      display: inline-block;
      max-width: 400px;
      padding: 5% 0 0 0;
      .profile {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1rem;
          span {
            color: $colour1;
          }
        }
        h5 {
          font-size: 1.1rem;
          margin: 0 0 2rem;
        }
        p {
          color: $colour4;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background: red;
  }
  .home {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        .user-img {
          position: static;
          width: 100%;
        }
      }
      .profile-section {
        width: 60%;
        padding: 15% 20px 0;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background: blue;
  }
  .home {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        .user-img {
          position: static;
          width: 100%;
        }
      }
      .profile-section {
        width: 60%;
        padding: 10% 20px 0;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background: green;
  }
  .home {
    .content-area {
      .profile-section {
        width: 60%;
        padding: 10% 20px 0;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    background: black;
  }
}
