@import "_reset";
@import "_variables";
@import "_home";

/* Always do this */
/* Stops Sizes Going Over Specs */
* {
  box-sizing: border-box;
}

html,
body {
  background: $colour1;
  font-size: 18px;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100%;
}

.hamburger-icon {
  position: fixed;
  right: 0;
  top: 36px;
  right: 36px;
  /* added padding so easier to click
  on mobile devices */
  padding: 20px;
  .fa-bars {
    font-size: 2rem;
    color: $colour1;
  }
}

.btn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  //border: 4px solid $colour1;
}

.primary-btn {
  background: $colour1;
  color: $colour3;
  margin-right: 15px;
}

.ghost-btn {
  border: 4px solid $colour1;
  padding: 12px 27px;
}
