@import "_reset";
@import "_variables";
@import "_home";

/* Always do this */
/* Stops Sizes Going Over Specs */
* {
  box-sizing: border-box;
}

html,
body {
  background: $colour1;
  font-size: 18px;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100%;
}
